.hover:hover {
 fill: orange;
}

svg {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }

  #map-holder {
    border: 3px solid teal;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    position: relative;
  }

  #loading {
    width: 20%;
    display: block;
    position: absolute;
    bottom: 44%;
    right: 50%;
    z-index: 100;
  }

  #info {
    width: 260px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid teal;
    border-radius: 10px;
    margin: 20px;
    display: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  h1 {
    color: teal;
    text-align: center;
  
  }

  /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}